/* main forms container */
.forms-container {
  width: 100%;
  height: 1122px;
  max-width: 800px;
  display: grid;
  padding-inline: 0.5rem;
  overflow: auto;
}

.form-page-links-container {
  /* margin-top: 1rem; */
  margin: auto;
  padding-inline: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-transform: capitalize;
  /* border-bottom: 1px solid var(--light-grey); */
  width: 80%;
}

.form-page-link,
.active-form-page-link {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.active-form-page-link {
  background-color: var(--darker-blue-color);
  color: var(--white);
}

.form-title {
  width: fit-content;
  letter-spacing: var(--h-letter-spacing);
  margin-block: 0.5rem;
  font-weight: 300;
}

.listItem-form-wrapper {
  display: flex;
  flex-direction: column;
}

.listItem-form {
  display: grid;
  gap: 0.5rem;
}

.listItem-form div:has(input[type='checkbox']) {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 0.5rem;
}

/* select the label when the checkbox is checked or when is not change the color */
.listItem-form div:has(input[type='checkbox']:checked) > label {
  color: var(--darker-blue-color);
}
.listItem-form div:has(input[type='checkbox']:not(:checked)) > label {
  color: inherit;
}

/* delete education form button */
.delete-education-btn,
.delete-experience-btn {
  align-self: flex-end;
}

.add-education-btn,
.add-exp-btn {
  /* margin-left: 1.5rem; */
}

.reset-form-btn {
  margin: auto;
  margin-top: 1rem;
}

.link-btn-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.link-btn {
  justify-self: flex-end;
}

/* scroll bar styling start */
.forms-container::-webkit-scrollbar {
  width: 0.4em;
}

.forms-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.forms-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;

  border-radius: 20px;
  /* outline: 1px solid slategrey; */
}
/* scroll bar styling end */

@media (min-width: 1440px) {
  /* create education section unique style start */
  .education,
  .experience {
    grid-template-columns: repeat(4, 1fr);
  }

  .university,
  .subject,
  .company,
  .companyCity {
    grid-column: 1/3;
  }

  .university,
  .position {
    grid-row: 1/2;
  }

  .degree,
  .position {
    grid-column: 3/-1;
  }

  .workDescription {
    grid-column: 1/-1;
  }

  .yearTo,
  .workingTo {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .yearFrom,
  .workingFrom {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  /* select the checkbox div of education and exp form*/
  .listItem-form div:has(input[type='checkbox']) {
    grid-column: 3/-1;
    grid-row: 3/4;
  }

  /* make  the last item from personal form to take 2 column width */
  .listItem-form div:last-child {
    grid-column: 1/3;
  }
}
