.pro-section {
  border-bottom: 1px solid black;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.pro-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pro-title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: var(--s-letter-spacing);
  margin-bottom: 1rem;
}

.company-name {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.location {
  display: inline-block;
  margin-inline: 4px;
  text-transform: capitalize;
  font-style: italic;
}

.period {
  display: inline;
}

.job-position {
  font-style: italic;
}

.location,
.period {
  font-weight: 300;
  font-style: italic;
}

.job-description {
  margin-top: 1rem;
}

.extra-info-list {
  padding-inline: 2rem;
  margin-top: 1.2rem;
}

.extra-info-list-item {
  list-style: disc;
  font-weight: 300;
}

@media (min-width: 1440px) {
  .pro-section {
    grid-column: 2;
    grid-row: 1;
  }
}
