.pro-section {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.pro-section h4 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 1rem;
  font-size: inherit;
}

.company-name {
  text-transform: uppercase;
  font-size: 0.83rem;
  font-weight: 400;
  display: inline-block;
}

.location {
  display: inline-block;
  margin-inline: 4px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.8rem;
}

.period {
  display: inline;
  font-size: 0.813rem;
}

.job-position {
  font-size: 0.875rem;
  font-style: italic;
}

.location,
.period {
  font-weight: 300;
  font-style: italic;
}

.job-description {
  margin-top: 1rem;
  font-size: 0.83rem;
}

@media (min-width: 1440px) {
  .pro-section {
    grid-column: 2;
    grid-row: 1;
  }
}
