.cv {
  font-size: 0.83rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-inline: 3rem;
  padding-block: 1rem;
  box-shadow: var(--shadow);
}

.cv-main {
  margin-block: 1rem;
  display: grid;
}

@media (min-width: 1440px) {
  .cv {
    aspect-ratio: 7937 /11225;
    box-shadow: 1px 1px 1px 10px solid black;
    /* scale: 0.8; */
  }

  .cv-main {
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
  }
}
