.cv {
  display: grid;
  grid-template-rows: auto 1fr;
}

.cv-main {
  display: grid;
}

@media (min-width: 1440px) {
  .cv-main {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
  }
}
