.cv {
  margin: auto;
  display: grid;
  aspect-ratio: 7937 /11225;
  font-size: 0.83rem;
  grid-template-rows: auto 1fr;
  padding-inline: 3rem;
  padding-block: 1rem;
  box-shadow: var(--shadow);
  min-width: var(--cv-width);
  min-height: var(--cv-height);
  background-color: var(--white);
  /* display: none; */
}

.cv-main {
  margin-block: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
}
