.links-section {
  padding: 1rem;
}

.add-social-btn,
.add-more-social-btn {
  width: fit-content;
  /* margin-left: 0.5rem; */
  /* margin-block: 1rem; */
}

.socialLinks-list {
  /* display: grid; */
  /* gap: 0.5rem; */
}

.socialLinks-listItem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(120px, 1fr) 3fr;
  gap: 0.5rem;
}

.socialList-del-btn {
  grid-column: 1/-1;
  grid-row: 2/2;
  justify-self: end;
}
