.education-section {
  grid-column: 1;
  border-right: 1px solid black;
  padding-block: 1rem;
  padding-right: 1rem;
}

.education-section h4 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.education-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.period {
  font-weight: 500;
  letter-spacing: 2px;
}

.uni,
.degree,
.subject {
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  padding-left: 1rem;
}

.subject {
  font-weight: 400;
}
