.cv-header {
  display: grid;
  grid-auto-flow: row;
}

@media (min-width: 1440px) {
  .cv-header {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
}

.info-primary__section {
  width: 100%;
  text-align: center;
}

.name {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-weight: 500;
}

.job {
  padding-top: 0.5rem;
  text-transform: capitalize;
}

.link-list {
  width: 90%;
  margin: auto;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem; */

  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  justify-items: start;
  align-items: center;
}

.link-list li p,
.link-list li a {
  font-size: 0.81rem;
  /* word-break: break-all; */
  align-items: center;
}

.link-list li p > span,
.link-list li a > span {
  margin-right: 5px;
  vertical-align: middle;
}

.info-secondary__section {
  /* background-color: #ccc; */
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.description {
  font-size: 0.8rem;
}
.name,
.title {
  padding-bottom: 1rem;
}

.description__wrapper,
.name-job__wrapper {
  padding: 1rem;
}
