*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* cv text */

  /* padding */

  --padding-block: 0.5rem;
  --padding-inline: 1rem;

  /* text */
  --h-letter-spacing: 1px;
  --s-letter-spacing: 3px;

  --fs-normal: 0.875rem;
  --fs-header: 24px;

  /* cv dimensions */
  --cv-width: 793.7px;
  --cv-height: 1122.5px;
  /* colors */
  --blue-color: #95c3fe;
  --darker-blue-color: #62a6ff;
  --light-grey: #ccc;
  --white: #fff;
  --background-clr: rgb(246, 246, 246);

  /* shadows */

  --shadow: 0px 2px 10px rgb(230, 230, 230);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

#root {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-clr);
}

main {
  height: 100%;
  display: grid;
  grid-column: var(--cv-width);
  grid-template-rows: 1fr;
  gap: 2rem;
  padding-inline: 1rem;
}

header {
  text-align: center;
}

header h1 {
  font-weight: 300;
  letter-spacing: 5px;
}

label {
  display: inline-block;
  font-size: 0.813rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

input,
textarea {
  border: 0;
  outline: thin solid #ccc;
  font-size: 0.87rem;
}

input:focus,
textarea:focus {
  outline-width: thin;
  outline-color: var(--blue-color);
  caret-color: var(--blue-color);
}

input[type='checkbox'] {
  outline: 0;
}

/* when focus on input select its label */
form div:has(input:focus) > label,
li div:has(input:focus) > label,
li div:has(textarea:focus) > label,
div:has(textarea:focus) > label {
  color: var(--darker-blue-color);
}

button {
  width: fit-content;
}

input,
textarea,
select {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.25rem;
}

select {
  border: 0;
  padding-block: calc(0.5rem + 2px);
  outline: thin solid #ccc;
  font-size: 0.87rem;
}

.print-btn {
  justify-self: center;
  grid-column: 1/-1;
}

.btn-style-1,
.btn-style-2 {
  border: thin solid white;
  background-color: transparent;
  color: var(--darker-blue-color);
  font-size: 0.87rem;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-style-2 {
  background-color: var(--darker-blue-color);
  color: var(--white);
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.btn-style-1:focus {
  outline: 0;
  border-bottom: thin dotted var(--blue-color);
}

.btn-style-2:focus {
  outline-color: var(--light-grey);
  border: 0;
}

::placeholder {
  font-size: 0.875rem;
  color: rgb(146, 146, 146);
  letter-spacing: 1px;
}

fieldset {
  border: thin solid var(--light-grey);
  padding: 1rem;
  margin-top: 1rem;
}

legend {
  font-size: var(--fs-normal);
  padding-inline: 0.2rem;
}

footer {
  text-align: center;
  padding-block: 0.5rem;
}

footer h2,
footer p,
footer a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-inline: 0.1rem;
}

footer a {
  vertical-align: middle;
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: repeat(2, minmax(auto, var(--cv-width)));
    grid-template-rows: var(--cv-height);
    place-content: center;
  }
}
