.extraInfo-container {
  margin-block: 1rem;
}

.expJobExtraInfo-list {
  display: flex;
  flex-direction: column;
}

.expJobExtraInfo-listItem {
  display: grid;
}

.remove-info-btn {
  justify-self: end;
}
